command = "cd random-quote-machine && npm install && npm run build && cd ../netlify/functions && npm install"
  publish = "random-quote-machine/dist"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200